.login-form {
    padding-top:10px;
}
.registration-form {
    padding-top: 20px;
}
.registration-form__button_red{
    color: red;
}

.login-form__button{
    margin-left: 15px;
    margin-right: 15px;
}

.ScoreBoard#board{
    position: absolute;
    z-index: 3;
    right: 20px;
    top: 20px;
    background: #ffffff;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 20%;
    padding: 10px 0 10px 0;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.ScoreBoard #title{
    font-size: 34px;
    margin-bottom: 5px;
}

.ScoreBoard #separator{
    text-align: center;
    width: 70%;
    margin-left: 15%;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
}

.ScoreBoard > #line {
    display: block;
}

.ScoreBoard > #line > div:first-child {
    width: 5%;
    padding: 10px;
    margin-left: 4%;
    margin-bottom: 4px;
    border-radius: 10px;
}

.ScoreBoard > #line > div {
    display: inline-block;
    width: 44%;
    font-size: 20px;
    overflow: hidden;
}

.MenuBoard#board{
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 20px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}


.MenuBoard > div{
    width: 70px;
    padding: 10px;
    color: #222;
}

.MenuBoard > div:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.ZoomBoard#board{
    position: absolute;
    z-index: 3;
    bottom: 150px;
    right: 20px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    width: 45px;
    text-align: center;
}

.ZoomBoard > div{
    width: 100%;
    height: 50px;
    padding: 5px 0 5px 0;
    color: #222;
}

.ZoomBoard > div:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.WaitBoard{
    position: absolute;
    z-index: 3;
    width: 20%;
    height: 5%;
    top: 2%;
    left: 2%;
}

.PerformBoard#board{

    height: 5%;
    top: 2%;
    left: 2%;
}

/**
 * Notify
 */

.CyclicNotifyBoard {
    position: absolute;
    z-index: 3;
    left: 35%;
    top: 20px;
    background: #ffffff;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 30%;
    padding: 10px 0 10px 0;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    animation-name: push-opacity;
    animation-duration: 5s;
}

@keyframes push-opacity {
    0%   { opacity: 1; }
    30%   { opacity: 1; }
    100% { opacity: 0; }
}

/**
 * To push form (win, lose)
 */

.btn-push-image {
    margin: 27px;
    float: left;
    height: 100px;
}

.btn-push {
    display:inline-block;
    margin: 10px;
    padding: 10px;
}
.btn-push-retry { }
.btn-exit { }

/**
 * Progress
 */

#cyclic-time-progress{
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    height: 0.7vh;
    width: 100%;
    border: 0;
}

