if load
    div(class="col-md-5")
    div(class="col-md-6")
        div(class="cyclic-loader")
    div(class="col-md-3")
else
    div(class="inner cover")
        h1(class="cover-heading") Leaderboard
        div(class="col-md-3")

        div(class="col-md-6")
            table(class="table table-bordered table-condensed Leader-table")
                thead
                    tr
                        th Nickname
                        th Score

                tbody
                    each user in users
                        tr
                            td= user["nick"]
                            td= user["highscore"]

        div(class="col-md-3")